= simple_form_for profile, url: backend_profile_path, html: { multipart: true } do |form|
  = display_alert
  = form.input :name, input_html: { class: 'medium' }
  = form.input :avatar
  %hr/
  %p.form-help= t('backend.profile.password_help')
  = form.simple_fields_for :admin do |admin_fields|
    = admin_fields.hidden_field :id unless profile.new_record?
    = admin_fields.input :password
    = admin_fields.input :password_confirmation
  .actions
    = form.submit t('actions.update'), class: 'btn large', id: 'update'
    = t('or')
    = link_to t('back'), backend_profile_path
