= simple_form_for [:backend, product], html: { multipart: true } do |form|
  = display_alert
  = form.input :name, input_html: { class: 'medium' }
  = form.input :description, input_html: { class: 'medium', cols: 55, rows: 10 }
  = form.input :price
  .input.integer.required.product_inventory
    = form.label :inventory
    = form.input_field :inventory, type: 'number'
    = form.label :infinite do
      = t('.infinite')
      = form.check_box :infinite
    = form.error :inventory
  = form.input :tags
  .input.boolean.optional.product_active
    = form.label :active
    = form.check_box :active
  %hr/
  %p.form-help= t('.images_help')

  = pictures_tag(product)

  - index = 1
  = form.simple_fields_for :images do |images|
    = images.input :picture, label: t('.picture', index: index) if images.object.new_record?
    - index += 1
  .actions
    = form.submit t(".actions.#{action}"), class: 'btn large'
    = t('or')
    = link_to t('back'), backend_products_path
:javascript
  productForm = new App.Form.ProductForm
