<div class="product">
  <%= picture_tag(product) do %>
    <span class='title'>
      <h3><%= link_to product.name, edit_backend_product_path(product) %></h3>
    </span>
    <span class="price"><%= number_to_currency(product.price) %></span>
  <% end %>
  <%= tags_tag(product) %>
  <p><%= product.description %></p>
  <p class="info inventory">
    <%= inventory_tag(product) %>
  </p>
  <p class="info status">
    <%= status_tag(product) %>
  </p>
</div>
